<IfModule mod_rewrite.c>
    RewriteEngine On

# Handle auth api
    RewriteCond %{HTTP_HOST} ^auth.thefishlive.co.uk$ [NC]
    RewriteRule v1/(.*)$ scripts/v1/auth/RequestHandler.php?request=$1 [QSA,NC,L]

# Handle launcher api
    RewriteCond %{HTTP_HOST} ^launcher.thefishlive.co.uk$ [NC]
    RewriteRule v1/(.*)$ scripts/v1/launcher/RequestHandler.php?request=$1 [QSA,NC,L]
</IfModule>